@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Share");
 
html, body, div, p, nav, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select, section, article {
  margin: 0;
  padding: 0;
}
main, article, aside, figcaption, figure, footer, header, nav, section, details, summary {
  display: block;
}
ul, ol {
  list-style: none;
}
html {
  overflow-y: scroll;
}
body {
  font-family: 'Meiryo', 'Hiragino Kaku Gothic Pro', 'sans-serif';
  background-color: #edede3;
  background-image: url(../img/texture.jpg);
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
p {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
}
a:hover {
  color: #ccc;
}
.text {
  margin: 20px 0;
  text-align: justify;
}
.cf { zoom: 1; }
.cf:after	{
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/* ヘッダー */
.header {
  background-color: #fff;
  border-bottom: solid 1px #aaa;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 7px #aaa;
  box-shadow: 0 1px 7px #aaa;
  padding: 5px;
}
.header-title {
  width: 900px;
  margin: 0 auto;
  line-height: 1;
  font-family: 'Share', 'cursive';
  font-size: 24px;
}
.header-title-link,
.header-title-link:hover {
  color: #333;
}
.header-thumb {
  height: 36px;
  width: 36px;
  vertical-align: text-bottom;
  margin-right: 5px;
}
.header-nav {
  width: 900px;
  margin: 0 auto;
  text-align: right;
  margin-top: -21px;
}
.header-nav-list > li {
  display: inline;
  font-size: 12px;
  border-right: 1px solid #aaa;
  padding-left: 10px;
  padding-right: 10px;
}
.header-nav-list > li:first-child {
  border-left: 1px solid #aaa;
}

/* 記事 */
.article {
  max-width: 900px;
  background-color: #fff;
  width: 900px;
  margin: 15px auto;
  border: solid 1px #aaa;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 3px #aaa;
  box-shadow: 1px 1px 3px #aaa;
  border-radius: 20px;
  overflow: hidden;
}
.article-title {
  font-size: 38px;
}
.article-section-title {
  border-left: 10px solid #eee;
  padding-left: 10px;
  font-size: 24px;
  color: #aaa;
}
.article-photo {
  margin: 20px;
  font-size: 0;
  text-align: center;
}
.article-photo img {
  width: 500px;
}
.article-photo-caption {
  line-height: 3;
  font-size: 11px;
  color: #aaa;
}
.article-photo.left {
  float: left;
  margin-left: 0;
}
.article-photo.left .article-photo-caption {
  text-align: left;
}
.article-photo.right {
  float: right;
  margin-right: 0;
}
.article-photo.right .article-photo-caption {
  text-align: right;
}
.article-remarks {
  display: block;
  margin: 20px 0 0;
  padding: 20px 20px 0;
  border-top: 1px solid #ccc;
}
.article-remarks-title {
  float: left;
  font-size: 14px;
}
.article-remarks-list > li {
  float: left;
  margin-left: 20px;
}
.article-remarks-link {
  display: block;
}
.article-remarks-link::before {
  content: "▶︎";
  padding-right: 3px;
  font-size: 10px;
  vertical-align: text-bottom;
}

/* お知らせ */
#info header {
  margin-bottom: 20px;
}
.info-title {
  width: 900px;
  margin: 0 auto;
  font-size: 38px;
  line-height: 1;
}
.info-item img {
  float: left;
  margin-right: 20px;
}
.info-item-title {
  font-size: 24px;
}

/* フッター */
.footer {
  width: 900px;
  margin: 20px auto;
}
