@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Share");

html, body, section, article, aside, h1, h2, h3, h4, h5, h6,
fieldset, form, div, img, p, pre, dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: 'Meiryo', 'Hiragino Kaku Gothic Pro', 'sans-serif';
  background-color: #edede3;
  background-image: url(../img/texture.jpg);
}
h1 {
  font-size: 38px;
}
p {line-height: 1.2;}

/* ヘッダー */
header {
  background-color: #fff;
  border-bottom: solid 1px #aaa;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 7px #aaa;
  box-shadow: 0 1px 7px #aaa;
  padding: 5px;
}
header h1 {
  font-family: 'Share', 'cursive';
  font-size: 24px;
  width: 900px;
  margin: 0 auto;
}
header h1 img {
  height: 36px;
  weight: 36px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

/* 記事 */
.article {
  max-width: 900px;
  background-color: #fff;
  width: 900px;
  margin: 0 auto;
  border: solid 1px #aaa;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 3px #aaa;
  box-shadow: 1px 1px 3px #aaa;
  border-radius: 20px;
  overflow: hidden;
}
.article-section {
  clear: both;
}
.article-section-title {
  border-bottom: 5px solid #aaa;
  font-size: 24px;
  color: #aaa;
}
.article-text {
  margin: 20px 0;
}
.article-photo {
  margin: 20px;
  font-size: 0;
  text-align: center;
}
.article-photo img {
  width: 500px;
}
.article-photo-caption {
  line-height: 3;
  font-size: 11px;
  color: #aaa;
}
.article-photo.left {
  float: left;
  margin-left: 0;
}
.article-photo.left .article-photo-caption {
  text-align: left;
}
.article-photo.right {
  float: right;
  margin-right: 0;
}
.article-photo.right .article-photo-caption {
  text-align: right;
}

/* フッター */
footer {
  width: 900px;
  margin: 20px auto;
}
