@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Share");
 
html, body, div, p, nav, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select, section, article {
  margin: 0;
  padding: 0;
}
main, article, aside, figcaption, figure, footer, header, nav, section, details, summary {
  display: block;
}
ul, ol {
  list-style: none;
}
html {
  overflow-y: scroll;
}
body {
  font-family: 'Meiryo', 'Hiragino Kaku Gothic Pro', 'sans-serif';
  background-color: #edede3;
  background-image: url(../img/texture.jpg);
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
p {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
}
a:hover {
  color: #ccc;
}
.text {
  margin: 20px 0;
  text-align: justify;
}
.cf { zoom: 1; }
.cf:after	{
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/* ヘッダー */
#article .header,
#about .header,
#contact .header {
  margin-bottom: 30px;
}
#info .header {
  margin-bottom: 20px;
}
.header {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 7px #aaa;
  box-shadow: 0 1px 7px #aaa;
  border-bottom: 1px solid #aaa;
  padding: 5px;
}
.header-title {
  width: 900px;
  margin: 0 auto;
  line-height: 1;
  font-family: 'Share';
  font-size: 24px;
}
.header-title-link,
.header-title-link:hover {
  color: #333;
}
.header-thumb {
  height: 36px;
  width: 36px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.header-nav {
  width: 900px;
  margin: 0 auto;
  margin-top: -21px;
  text-align: right;
}
.header-nav-list > li {
  display: inline;
  border-right: 1px solid #aaa;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.header-nav-list > li:first-child {
  border-left: 1px solid #aaa;
}

/* トップ */
.top-cover-photo {
  height: 573px;
  background-image: url(../img/top.jpg);
  background-size: 1000px 573px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #eee;
  padding: 200px 0 0;
  box-sizing: border-box;
  text-align: center;
}
.top-cover-title {
  color: #fff;
  font-size: 60px;
  font-family: 'Share';
  text-shadow: 0 5px 10px #000;
}
.top-cover-catch {
  margin: 0 0 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 5px 10px #000;
}
.action-button {
  display: inline-block;
  background-color: #ffaa00;
  border-radius: 10px;
  padding: 10px 80px;
  background-color: #ffaa00;
  background-image: linear-gradient(
    to bottom,
    #ffe7b8 0%,
    #ffaa00 100%);
  background-image: -webkit-linear-gradient(
    to bottom,
    #ffe7b8 0%,
    #ffaa00 100%);
    font-weight: bold;
  color: #333;
}
.action-button:hover {
  background-image: linear-gradient(
    to bottom,
    #ffaa00 0%,
    #ffe7b8 100%);
  background-image: -webkit-linear-gradient(
    to bottom,
    #ffaa00 0%,
    #ffe7b8 100%);
  color: #333;
}

/* 記事 */
.article {
  background-color: #fff;
  width: 900px;
  margin: 15px auto;
  border: solid 1px #aaa;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 3px #aaa;
  box-shadow: 1px 1px 3px #aaa;
  border-radius: 20px;
  overflow: hidden;
}
.article-title {
  font-size: 38px;
}
.article-section-title {
  border-left: 10px solid #eee;
  padding-left: 10px;
  font-size: 24px;
  color: #aaa;
}
.article-photo {
  margin: 20px;
  font-size: 0;
  text-align: center;
}
.article-photo img {
  width: 500px;
}
.article-photo-caption {
  line-height: 3;
  font-size: 11px;
  color: #aaa;
}
.article-photo.left {
  float: left;
  margin-left: 0;
}
.article-photo.left .article-photo-caption {
  text-align: left;
}
.article-photo.right {
  float: right;
  margin-right: 0;
}
.article-photo.right .article-photo-caption {
  text-align: right;
}
.article-remarks {
  display: block;
  margin: 20px 0 0;
  padding: 20px 20px 0;
  border-top: 1px solid #ccc;
}
.article-remarks-title {
  float: left;
  font-size: 14px;
}
.article-remarks-list > li {
  float: left;
  margin-left: 20px;
}
.article-remarks-link {
  display: block;
}
.article-remarks-link::before {
  content: "▶︎";
  padding-right: 3px;
  font-size: 10px;
  vertical-align: text-bottom;
}

/* お知らせ */
.info-item {
  padding: 0;
}
.info-item a {
  overflow: hidden;
  display: block;
  padding: 20px;
  color: #333;
}
.info-item a:hover {
  opacity: 0.5;
}
.info-title {
  width: 900px;
  margin: 0 auto;
  font-size: 38px;
  line-height: 1;
}
.info-item-title {
  font-size: 24px;
}
.info-item img {
  float: left;
  margin-right: 20px;
}
.info-item-time {
  background-color: #bdbc8f;
  border-radius: 10px;
  padding: 2px 20px;
  font-size: 12px;
  color: #fff;
}

/* サイトについて */
.table,
.table th,
.table td {
  border: 1px solid #333;
}
.table {
  margin: 30px auto;
  border-collapse: collapse;
}
.table caption {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #d9d8a7;
  border-radius: 10px;
  font-weight: bold;
}
.table th,
.table td {
  padding: 10px 20px;
}
.table th {
  width: 150px;
  background-color: #ffcb63;
  text-align:left;
}
.table td {
  width: 450px;
  background-color: #ffedce;
}

/* お問い合わせ */
.form input,
.form textarea {
  display: block;
  padding: 10px;
  border: 1px solid #eee;
  background-color: #eee;
}
.form .form-item-area {
  margin: 15px 0;
}
.form input {
  width: 400px;
}
.form input[type="submit"] {
  width: 200px;
  padding: 10px 0;
  background-color: #ffaa00;
  background-image: -webkit-linear-gradient(
    top,
    #ffe7b8 0%,
    #ffaa00 100%
  );
  background-image: linear-gradient(
    to bottom,
    #ffe7b8 0%,
    #ffaa00 100%
  );
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.form textarea {
  width: 600px;
  height: 120px;
}

/* フッター */
.footer {
  width: 900px;
  margin: 20px auto;
}
